<nav class="navbar navbar-expand-lg navbar-light  primary">
    <a class="navbar-brand text-white" routerLink="book-list" href="#"><strong>Smart Online BookStore</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link font-weight-bold text-white" routerLink="add-book" href="#">Add Book</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link font-weight-bold text-white" routerLink="advance-search" href="#">Search</a>
        </li>

      </ul>
    </div>
    
</nav>

<!-- Router outlet -->
<router-outlet></router-outlet>